[submodule "apps/experiments/clock"]
	path = apps/experiments/clock
	url = git@github.com:ndrwhr/css3d-clock.git
[submodule "apps/experiments/rain"]
	path = apps/experiments/rain
	url = git@github.com:ndrwhr/typographic-rain.git
[submodule "apps/experiments/mobeh"]
	path = apps/experiments/mobeh
	url = git@github.com:ndrwhr/mobeh-dick.git
[submodule "apps/experiments/walking"]
	path = apps/experiments/walking
	url = git@github.com:ndrwhr/css3-walking-man.git
[submodule "apps/experiments/sudoku"]
	path = apps/experiments/sudoku
	url = git@github.com:ndrwhr/simple-sudoku-solver.git
[submodule "apps/experiments/fractals"]
	path = apps/experiments/fractals
	url = git@github.com:ndrwhr/simple-fractals.git
[submodule "apps/experiments/something_a_day"]
	path = apps/experiments/something_a_day
	url = git@github.com:ndrwhr/something-a-day.git
[submodule "apps/experiments/numbers"]
	path = apps/experiments/numbers
	url = git@github.com:ndrwhr/numbers-to-words.git
[submodule "apps/experiments/cloth"]
	path = apps/experiments/cloth
	url = git@github.com:ndrwhr/cloth-simulation.git
[submodule "apps/experiments/robotarm"]
	path = apps/experiments/robotarm
	url = git@github.com:ndrwhr/robotic-arm.git
[submodule "apps/experiments/particle_system"]
	path = apps/experiments/particle_system
	url = git@github.com:ndrwhr/particle-system.git
[submodule "apps/experiments/dripsessions"]
	path = apps/experiments/dripsessions
	url = git@github.com:ndrwhr/drip-sessions.git
[submodule "apps/experiments/zoetrope"]
	path = apps/experiments/zoetrope
	url = git@github.com:ndrwhr/zoetrope.git
[submodule "apps/experiments/entropy"]
	path = apps/experiments/entropy
	url = git@github.com:ndrwhr/entropy.git
[submodule "apps/experiments/blob"]
	path = apps/experiments/blob
	url = git@github.com:ndrwhr/blob.git
[submodule "apps/experiments/tumbler"]
	path = apps/experiments/tumbler
	url = git@github.com:ndrwhr/tumbler.git
[submodule "apps/experiments/muda"]
	path = apps/experiments/muda
	url = git@github.com:ndrwhr/muda.git
[submodule "apps/experiments/chaos-game"]
	path = apps/experiments/chaos-game
	url = git@github.com:ndrwhr/chaos-game-static.git
[submodule "apps/experiments/svg-animations-src"]
	path = apps/experiments/svg-animations-src
	url = git@github.com:ndrwhr/svg-animation-src.git
[submodule "apps/experiments/mbmbalphabet"]
	path = apps/experiments/mbmbalphabet
	url = git@github.com:ndrwhr/mbmbalphabet.git
