
Options -Indexes +SymLinksIfOwnerMatch
DirectoryIndex index.html index.htm index.php
IndexIgnore *

# Redirect errors to a custom page

ErrorDocument 404 /404/

# Rewrites...

RewriteEngine On

# Prevent accessing hidden files

RewriteRule ^(.*/)?\. - [F,NS,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
