body {
    font-family: "Open Sans";
    background: #dedede;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
    line-height: 2;
    padding: 20px;
}

a {
    color: inherit;
}

h1 {
    font-weight: 200;
    letter-spacing: 0.5em;
}

.demo {
    position: relative;
    width: 300px;
    margin: 0 auto 20px;
}

.demo__mask {
    width: 100%;
}

.demo__video {
    position: absolute;
    width: 258px;
    left: 21px;
    top: 75px;
}

.appstore-link {
    padding: 20px 0 40px 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}