body {
    font-family: "Open Sans";
    background: #d2d2d2;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
    line-height: 2;
    padding: 20px;
}

a {
    color: inherit;
}

h1 {
    font-weight: 200;
    letter-spacing: 0.5em;
}

.demo {
    display: block;
    position: relative;
    max-width: 486px;
    margin: 0 auto 20px;
}

.demo__mask {
    width: 100%;
}

.demo__video {
    position: absolute;
    width: 85.9%;
    left: 7.2%;
    top: 11.7%;
}

.appstore-link {
    padding: 20px 0 40px 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
