
<style type="text/css" media="screen">
	
	pre{
		background:transparent;
		border:none;
		font-family:monaco;
		color:#777;
		font-size:80%;
		padding-left: 60px;
	}
	pre span.larger{
		font-size:150%;
	}
	pre span.name{
		font-weight:bold;
	}
	pre span.var{
		color:#f3a271;/*orange*/
	}
	pre span.function,
	pre span.boolean {
		color:#db98d7;/*purple*/
	}
	pre span.string{
		color:#7acf6f;/*green*/
	}
	
</style>

<pre><span class="larger"><span class="var">var</span> andrew = {</span>
    <span class="name">full_name:</span> <span class="string">"Andrew Hoyer"</span>,

    <span class="name">title:</span> <span class="string">"Computer Scientist (Extraordinaire)"</span>,

    <span class="name">employment:</span> {
        <span class="name">company:</span> <span class="string">"Inkling"</span>,
        <span class="name">position:</span> <span class="string">"Web Application Engineer"</span>
    },

    <span class="name">current_location:</span> <span class="string">"San Francisco, CA"</span>,

    <span class="name">education:</span> {
        <span class="name">undergraduate:</span> {
            <span class="name">location:</span> <span class="string">"University of Alberta"</span>,
            <span class="name">degree:</span> <span class="string">"BSc. Specialization in Computing Science"</span>,
            <span class="name">completion_date:</span> <span class="string">"2010-04-23"</span>
        },
        <span class="name">graduate:</span> {
            <span class="name">status:</span> <span class="string">"On Hold"</span>
        }    
    },

    <span class="name">likes:</span> [<span class="string">"maths"</span>, <span class="string">"peanut butter"</span>, <span class="string">"bowling"</span>, <span class="string">"taking pictures"</span>, <span class="string">"reading"</span>,
            <span class="string">"Smultzy Music"</span>, <span class="string">"Driving"</span>, <span class="string">"Sudokus"</span>, <span class="string">"W(p)GtR"</span>, <span class="string">"Programming"</span>, 
            <span class="string">"Nerdy Jokes"</span>],

    <span class="name">loves:</span> [<span class="string">"Javascript"</span>, <span class="string">"Snow"</span>, <span class="string">"Dogs"</span>],

    <span class="name">dislikes:</span> [<span class="string">"Naps"</span>, <span class="string">"The word 'cyberspace'"</span>,  <span class="string">"Angry Music"</span>, <span class="string">"Liver Sausage"</span>, 
            <span class="string">"Emoticons"</span>, <span class="string">"Pickles"</span>, <span class="string">"Drama"</span>, <span class="string">"One up-ers"</span>],

    <span class="name">hates:</span> [<span class="string">"People chewing with their mouth open"</span>],

    <span class="name">afew_things_i_know:</span> [<span class="string">"Javascript"</span>, <span class="string">"C"</span>, <span class="string">"Ruby"</span>, <span class="string">"PhP"</span>, 
            <span class="string">"Java"</span>, <span class="string">"CSS"</span>, <span class="string">"HTML"</span>, <span class="string">"ASL"</span>],

    <span class="name">afew_daves_i_know:</span> [<span class="string">"Dave Hoyer"</span>, <span class="string">"David Wahlstrom"</span>, <span class="string">"David Maidens"</span>, 
           <span class="string">"David Bonar"</span>, <span class="string">"David Russell"</span>, <span class="string">"David McClelland"</span>],

    <span class="name">prefered_contact:</span> <span class="string">"<a href="mailto:me@andrew-hoyer.com">me@andrew-hoyer.com</a>"</span>,

    <span class="name">voted:</span> <span class="string">"Best"</span>
<span class="larger">};</span>

</pre>

<img style="margin-left: 105px" src="/resources/images/me.jpg"/>
