
<div id='browser-support'> 
	<table> 
		<tr> 
			<td colspan='5'>Supported Browsers</td> 
		</tr> 
		<tr> 
			<td><a href="http://www.apple.com/safari/"><img alt="safari" src="/images/global/browsers/safari.jpg?1273728496" title="safari" /></a></td> 
 
			<td><a href="http://www.mozilla.com/firefox"><img alt="firefox" src="/images/global/browsers/firefox.jpg?1273728496" title="firefox" /></a></td> 
 
			<td><a href="http://www.google.com/chrome/"><img alt="chrome" src="/images/global/browsers/chrome.jpg?1273728496" title="chrome" /></a></td> 
 
			<td><a href=""><img alt="ie" src="/images/global/browsers/ie.jpg?1273728497" title="ie" /></a></td> 
 
			<td><a href="http://www.opera.com/"><img alt="opera" src="/images/global/browsers/opera.jpg?1273728496" title="opera" /></a></td> 
 
		</tr> 
		<tr> 
			<td>3</td> 
			<td>3</td> 
			<td>4</td> 
			<td>7?</td> 
			<td>9?</td> 
		</tr> 
	</table> 
</div>
