@import "./variables.css";

.experiments {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--std-padding);
  padding: 0;
}

@media (--medium-viewport) {
  .experiments {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--large-viewport) {
  .experiments {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--extra-large-viewport) {
  .experiments {
    grid-template-columns: repeat(4, 1fr);
  }
}
