div.month {
    font-size: 20px;
    margin: 40px 20px 0 20px;
    padding: 0 0 0px 5px;
    
    span {
        color: #cccccc;
    }
    div {
        font-size: 30px;
        float: left;
        a {
            text-decoration: none;
        }
    }
}

div.month.first {
    margin-top: 0;
}

div.post {
    clear: both;
    padding: 10px;
    margin: 0 40px;
    
    div {
        font-size: 30px;
        float: left;
        a {
            text-decoration: none;
        }
    }
    
    p {
        text-indent: 0;
        margin: 0 0 0 50px;
        padding: 0;
        a {
            text-decoration: none;
        }
    }
    
    p.content {
        margin: 0 0 0 50px;
        font-size: 80%;
        color: #aaa;
    } 
}

div.entry {
    margin: 20px 40px;
    div.month {
        padding-top: 10px;
        float: right;
    }
    img {
      display: block;
      margin: 0 auto;
    }
}

div.pagination {
    text-align: center;
    padding: 20px 0;
    
    div {
        display: inline;
        text-align: center;
    }
    
    div.prev {
        float: left;
    }
    
    div.next {
        float: right;
    }
    
    div span {
        color: #aaa;
        font-size: 80%;
    }
}