@import "base";

@mixin social($name){
    ##{$name} {
        background-image: url(../images/social/#{$name}.jpg);
    }
}

body {
    width: 800px;
    margin: 0px auto;
    text-align: center;
    color: $site-color;
    background: {
        image: url(../images/background.jpg);
        position: top center;
        repeat: repeat-x;
    }
}

p {
    text-indent: 1em;
    margin-bottom: 15px;
}

ul {
    margin: 0 20px 20px;
    li {
        list-style: circle;
        margin: 0;
    }
}

iframe {
    overflow: hidden;
}

header, footer {
    letter-spacing: -0.06em;
    font-size: 30px;
    padding: 15px 0 30px;
    
    a {
        color: $site-color;
        text-decoration: none;
        padding: 5px 10px;
        :hover { color: white }
    }
}

p.warning {
    display: block;
    margin: 10px 0;
    font-size: 30px;
    strong {
        color: red;
    }
}

#content {
    text-align: left;
    padding: 0 20px;
    
    #intro {
        text-indent: 0;
        text-align: center;
        font-size: 95%;
        padding: 10px;
    }
}

footer {
    padding: 20px;
    margin-top: 20px;
    clear: both;
    
    #contact {
      line-height: 26px;
        a {
            text-indent: -9999px;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 5px 3px 0;
            background-repeat: no-repeat;
            background-position: top center;
            &:hover {
                background-color: transparent;
                background-position: bottom center;
            }
        }
        @include social(twitter);
        @include social(facebook);
        @include social(flickr);
        @include social(email);
        @include social(feed);
    }
}

#chrome-link {
    text-align: center;
}

#thoughts {
    
    img {
        width: 700px;
        margin: 0;
        margin-left: 29px;
        border: 1px solid #777;
    }
    
    p {
        font-size: 90%;
        text-align: center;
        text-indent: 0;
        margin-bottom: 20px;
    }
    
}


ul#experiments {
    margin: 0;
    padding: 10px 0;
    
    li {
        float: left;
        width: 350px;
        height: 185px;
        margin-top: 5px;
        list-style: none;
        
        text-align: center;
        
        a.thumb {
            display: block;
            width: 350px;
            height: 100px;
            margin-bottom: 5px;
            
            img {
                border: 1px solid #ddd;
            }
        }
        
        a.link {
            text-decoration: none;
            font-size: 30px;
        }
        
        span {
            color: #aaa;
        }
        
        p {
            text-indent: 0;
            margin-top: 5px;
            text-align: left;
        }
    }
    li.odd {
        margin-right: 50px;
    }
}
