@import "base";
@import "pygments";
@import "variables";

body {
    font-family: lucida grande, serif;
    color: $font-color;
    letter-spacing: -0.07em;
    font-size: 12px;
    background: $background-color;
    line-height: 1.3em;
}

a {
    color: $link-color;
}

p {
    margin-bottom: 1em;
}

pre {
    overflow: auto;
    margin: 10px 10px 30px;
    padding: 20px;
    border: 1px solid #e5e5e5;
}

code {
    font-family: courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

.clearfix {
    margin: 0;
    padding: 0;
    height: 0;
    clear: both;
}

nav {
    height: 40px;
    margin: 40px;
    ul li {
        display: inline;
        margin: 10px 3px;
        color: #ddd;

        a {
            padding: 3px 7px 4px;
            border-radius: 5px;
            color: $font-color;
            text-decoration: none;

            &.current {
                background: #ddd;
            }

            &:hover {
                background: #e5e5e5;
            }
        }
    }
}

header, section.content {
    width: 980px;
    margin: 0 auto;
}

section.content {
    font-size: 0.9em;
}

section.recent-blog-posts {
    width: 200px;
    float: right;
    margin-right: 20px;
    padding-top: 20px;

    p.post-date {
        color: #aaa;
    }
}

section.experiments {
    margin: 0 200px 0 20px;

    canvas {
        display: block;
        background: white;
        border-radius: 5px;
        margin-bottom: 1em;
        // box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
    }

    ul {
        display: inline-block;
    }

    ul li {
        display: inline-block;
        float: left;
        width: 200px;
        padding: 20px;

        a {
            color: $font-color;
            text-decoration: none;
        }

        &.new::before, &.newish::before {
            content: "new";
            position: absolute;
            width: 75px;
            padding: 2px 7px;
            color: white;
            background: #D61B2C;
            font-size: 0.9em;
            font-weight: bold;
            border-top-left-radius: 5px;
        }

        &.newish::before {
            content: "new-ish";
            background: #D61B2C;
            opacity: 0.25;
        }
    }

    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

section.posts {
    margin: 0 40px;

    ul {
        display: inline-block;
    }

    ul li {
        float: left;
        display: inline-block;
        width: 410px;
        padding: 0 40px 40px 0;

        h3 a {
            color: $font-color;
        }

        p.post-date {
            color: #aaa;
        }
    }

    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

article {
    font-size: 1.1em;
    line-height: 1.3em;
    width: 700px;
    margin: 0 auto;

    h2, h3, h4, h5, h6 {
        margin-bottom: 1.3em;
    }

    p.post-date {
        color: #aaa;
        margin-bottom: 2em;
    }

    p, ul, ol {
        margin-bottom: 2em;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    ul li {
        margin: 0 0 0.5em 3em;
        list-style: circle;
    }

    .pagination {
        margin-bottom: 40px;
        .next {
            float: right;
            text-align: right;
        }
        .prev {
            float: left;
        }
    }
}

footer {
    border-top: 1px solid #eee;
    font-size: 0.8em;
    color: #aaa;
    padding: 40px;
}

footer p {
    width: 50%;
}
