@import "base";
@import "pygments";
@import "variables";

body {
    font-family: lucida grande, lucida, helvetica, sans-serif;
    color: $font-color;
    font-size: 12px;
    background: $background-color;
    line-height: 1.3em;
}

a {
    color: $link-color;
}

p {
    margin-bottom: 1em;
}

code {
    font-family: courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 { font-size: 1.6em; }

h2 { font-size: 1.4em; }

h3 { font-size: 1.2em; }

.clearfix {
    margin: 0;
    padding: 0;
    height: 0;
    clear: both;
}

nav {
    height: $standard-space;
    margin: $standard-space;
    ul li {
        display: inline;
        margin: 10px 3px;
        color: #ddd;

        a {
            padding: 3px 7px 4px;
            @include border-radius(5px);
            color: $font-color;
            text-decoration: none;

            &.current {
                background: #ddd;
            }

            &:hover {
                background: $border-color;
            }
        }
    }
}

header, section.content {
    width: $content-width;
    margin: 0 auto;
}

section.content {
    font-size: 0.9em;
}

section.recent-blog-posts {
    width: 200px;
    float: right;
    margin-right: $half-space;
    padding-top: $half-space;

    div.post {
        margin-bottom: $standard-space;
    }

    p.post-date {
        color: $light-font-color;
    }
}

section.experiments {
    margin: 0 200px 0 $half-space;

    canvas {
        display: block;
        background: white;
        @include border-radius($border-radius);
        margin-bottom: 1em;
    }

    ul {
        display: inline-block;
    }

    ul li {
        display: inline-block;
        float: left;
        width: 200px;
        padding: $half-space;

        a {
            color: $font-color;
            text-decoration: none;
        }

        &.new::before, &.newish::before {
            content: "new";
            position: absolute;
            width: 50px;
            padding: 2px 7px;
            color: white;
            background: #D61B2C;
            font-size: 0.9em;
            font-weight: bold;
            border-top-left-radius: 5px;
        }

        &.newish::before {
            content: "new-ish";
            background: #D61B2C;
            opacity: 0.25;
        }
    }

    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

section.posts {
    margin: 0 $standard-space;

    ul {
        display: inline-block;
    }

    ul li {
        float: left;
        display: inline-block;
        width: 410px;
        padding: 0 $standard-space $standard-space 0;

        h3 a {
            color: $font-color;
        }

        p.post-date {
            color: $light-font-color;
        }
    }

    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

article {
    font-size: 1.1em;
    line-height: 1.3em;
    width: 700px;
    margin: 0 auto;

    pre {
        overflow: auto;
        margin: 10px 10px 40px;
        padding: $half-space;
        border: 1px solid $border-color;
        background: white;
        @include border-radius($border-radius);
    }

    h2, h3, h4, h5, h6 {
        margin-bottom: 1.3em;
    }

    p.post-date {
        color: $light-font-color;
        margin-bottom: 2em;
    }

    p, ul, ol {
        margin-bottom: 2em;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    ul li {
        margin: 0 0 0.5em 3em;
        list-style: circle;
    }

    .pagination {
        margin-bottom: $standard-space;
        .next {
            float: right;
            text-align: right;
        }
        .prev {
            float: left;
        }
    }
}

section.about {
    margin: 0 40px 40px;
    border: 1px solid #eee;
    background: white;
    color: #999;
    @include border-radius($border-radius);

    h1 {
        background: #eee;
        padding: 4px 10px;
        margin: 0;
        font-size: $font-size;
        font-weight: normal;
        border-bottom: #eee;
        code {
            display: block;
            float: right;
        }
    }

    pre {
        padding: 5px 10px;
        &.main {
            margin-left: 35px;
            span {
                &.var{
                    color:#f3a271;/*orange*/
                }
                &.string{
                    color:#7acf6f;/*green*/
                }
            }
        }
        &.gutter {
            float: left;
            color: #ddd;
            border-right: 1px solid #f5f5f5;
        }
    }
}

footer {
    font-size: 0.8em;
    color: $light-font-color;
    padding: $half-space 0;

    > div {
        width: $content-width - (2 * $standard-space);
        margin: 0 auto;
        padding: 0 $standard-space;

        p {
            float: left;
            width: 410px;
            margin-right: $standard-space;
        }
    }
}
