/* line 1, ../scss/blog.scss */
div.month {
  font-size: 20px;
  margin: 40px 20px 0 20px;
  padding: 0 0 0px 5px;
}
/* line 6, ../scss/blog.scss */
div.month span {
  color: #cccccc;
}
/* line 9, ../scss/blog.scss */
div.month div {
  font-size: 30px;
  float: left;
}
/* line 12, ../scss/blog.scss */
div.month div a {
  text-decoration: none;
}

/* line 18, ../scss/blog.scss */
div.month.first {
  margin-top: 0;
}

/* line 22, ../scss/blog.scss */
div.post {
  clear: both;
  padding: 10px;
  margin: 0 40px;
}
/* line 27, ../scss/blog.scss */
div.post div {
  font-size: 30px;
  float: left;
}
/* line 30, ../scss/blog.scss */
div.post div a {
  text-decoration: none;
}
/* line 35, ../scss/blog.scss */
div.post p {
  text-indent: 0;
  margin: 0 0 0 50px;
  padding: 0;
}
/* line 39, ../scss/blog.scss */
div.post p a {
  text-decoration: none;
}
/* line 44, ../scss/blog.scss */
div.post p.content {
  margin: 0 0 0 50px;
  font-size: 80%;
  color: #aaa;
}

/* line 51, ../scss/blog.scss */
div.entry {
  margin: 20px 40px;
}
/* line 53, ../scss/blog.scss */
div.entry div.month {
  padding-top: 10px;
  float: right;
}

/* line 59, ../scss/blog.scss */
div.pagination {
  text-align: center;
  padding: 20px 0;
}
/* line 63, ../scss/blog.scss */
div.pagination div {
  display: inline;
  text-align: center;
}
/* line 68, ../scss/blog.scss */
div.pagination div.prev {
  float: left;
}
/* line 72, ../scss/blog.scss */
div.pagination div.next {
  float: right;
}
/* line 76, ../scss/blog.scss */
div.pagination div span {
  color: #aaa;
  font-size: 80%;
}
