
ul#experiments {
	margin: 0;
	padding: 10px 0;
	
	li {
		float: left;
		width: 350px;
		height: 185px;
		margin-top: 5px;
		list-style: none;
		
		text-align: center;
		
		a.thumb {
			display: block;
			width: 350px;
			height: 100px;
			margin-bottom: 5px;
			
			img {
				border: 1px solid #ddd;
			}
		}
		
		a.link {
			text-decoration: none;
			font-size: 30px;
		}
		
		span {
			color: #aaa;
		}
		
		p {
			text-indent: 0;
			margin-top: 5px;
			text-align: left;
		}
	}
	li.odd {
		margin-right: 50px;
	}
}