/* line 2, ../scss/experiments.scss */
ul#experiments {
  margin: 0;
  padding: 10px 0;
}
/* line 6, ../scss/experiments.scss */
ul#experiments li {
  float: left;
  width: 350px;
  height: 185px;
  margin-top: 5px;
  list-style: none;
  text-align: center;
}
/* line 15, ../scss/experiments.scss */
ul#experiments li a.thumb {
  display: block;
  width: 350px;
  height: 100px;
  margin-bottom: 5px;
}
/* line 21, ../scss/experiments.scss */
ul#experiments li a.thumb img {
  border: 1px solid #ddd;
}
/* line 26, ../scss/experiments.scss */
ul#experiments li a.link {
  text-decoration: none;
  font-size: 30px;
}
/* line 31, ../scss/experiments.scss */
ul#experiments li span {
  color: #aaa;
}
/* line 35, ../scss/experiments.scss */
ul#experiments li p {
  text-indent: 0;
  margin-top: 5px;
  text-align: left;
}
/* line 41, ../scss/experiments.scss */
ul#experiments li.odd {
  margin-right: 50px;
}
