/* line 3, ../scss/pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 4, ../scss/pygments.scss */
.c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 5, ../scss/pygments.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 6, ../scss/pygments.scss */
.k {
  font-weight: bold;
}

/* Keyword */
/* line 7, ../scss/pygments.scss */
.o {
  font-weight: bold;
}

/* Operator */
/* line 8, ../scss/pygments.scss */
.cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 9, ../scss/pygments.scss */
.cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 10, ../scss/pygments.scss */
.c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 11, ../scss/pygments.scss */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 12, ../scss/pygments.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 13, ../scss/pygments.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 14, ../scss/pygments.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 15, ../scss/pygments.scss */
.gh {
  color: #999999;
}

/* Generic.Heading */
/* line 16, ../scss/pygments.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 17, ../scss/pygments.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../scss/pygments.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../scss/pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../scss/pygments.scss */
.gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../scss/pygments.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../scss/pygments.scss */
.kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../scss/pygments.scss */
.kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../scss/pygments.scss */
.kn {
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 25, ../scss/pygments.scss */
.kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 26, ../scss/pygments.scss */
.kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 27, ../scss/pygments.scss */
.kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 28, ../scss/pygments.scss */
.m {
  color: #bb8844;
}

/* Literal.Number */
/* line 29, ../scss/pygments.scss */
.s {
  color: #009999;
}

/* Literal.String */
/* line 30, ../scss/pygments.scss */
.na {
  color: #008080;
}

/* Name.Attribute */
/* line 31, ../scss/pygments.scss */
.nb {
  color: #999999;
}

/* Name.Builtin */
/* line 32, ../scss/pygments.scss */
.nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 33, ../scss/pygments.scss */
.no {
  color: #008080;
}

/* Name.Constant */
/* line 34, ../scss/pygments.scss */
.ni {
  color: #800080;
}

/* Name.Entity */
/* line 35, ../scss/pygments.scss */
.ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, ../scss/pygments.scss */
.nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 37, ../scss/pygments.scss */
.nn {
  color: #555555;
}

/* Name.Namespace */
/* line 38, ../scss/pygments.scss */
.nt {
  color: #000080;
}

/* Name.Tag */
/* line 39, ../scss/pygments.scss */
.nv {
  color: #008080;
}

/* Name.Variable */
/* line 40, ../scss/pygments.scss */
.ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 41, ../scss/pygments.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 42, ../scss/pygments.scss */
.mf {
  color: #bb8844;
}

/* Literal.Number.Float */
/* line 43, ../scss/pygments.scss */
.mh {
  color: #bb8844;
}

/* Literal.Number.Hex */
/* line 44, ../scss/pygments.scss */
.mi {
  color: #bb8844;
}

/* Literal.Number.Integer */
/* line 45, ../scss/pygments.scss */
.mo {
  color: #bb8844;
}

/* Literal.Number.Oct */
/* line 46, ../scss/pygments.scss */
.sb {
  color: #009999;
}

/* Literal.String.Backtick */
/* line 47, ../scss/pygments.scss */
.sc {
  color: #009999;
}

/* Literal.String.Char */
/* line 48, ../scss/pygments.scss */
.sd {
  color: #009999;
}

/* Literal.String.Doc */
/* line 49, ../scss/pygments.scss */
.s2 {
  color: #009999;
}

/* Literal.String.Double */
/* line 50, ../scss/pygments.scss */
.se {
  color: #009999;
}

/* Literal.String.Escape */
/* line 51, ../scss/pygments.scss */
.sh {
  color: #009999;
}

/* Literal.String.Heredoc */
/* line 52, ../scss/pygments.scss */
.si {
  color: #009999;
}

/* Literal.String.Interpol */
/* line 53, ../scss/pygments.scss */
.sx {
  color: #009999;
}

/* Literal.String.Other */
/* line 54, ../scss/pygments.scss */
.sr {
  color: #808000;
}

/* Literal.String.Regex */
/* line 55, ../scss/pygments.scss */
.s1 {
  color: #009999;
}

/* Literal.String.Single */
/* line 56, ../scss/pygments.scss */
.ss {
  color: #009999;
}

/* Literal.String.Symbol */
/* line 57, ../scss/pygments.scss */
.bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 58, ../scss/pygments.scss */
.vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 59, ../scss/pygments.scss */
.vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 60, ../scss/pygments.scss */
.vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 61, ../scss/pygments.scss */
.il {
  color: #bb8844;
}

/* Literal.Number.Integer.Long */
