/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* END RESET */

/* if experiment is 400px or smaller then rearrange experiment layout */
/* first break is at 800 + grid spacing */
/* second break is at 1200 + grid spacing */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

b {
  font-weight: 900;
}

del {
  opacity: 0.5;
}

.site {
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 700;
  background: #E8FFF4;
  background-attachment: fixed;
  font-size: 14px;
  padding: 30px;
}

.site__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.site__background circle,
.site__background rect,
.site__background line,
.site__background polyline {
  stroke-width: 0.5;
  stroke: black;
  fill: none;
}

.site__background-grid {
  opacity: 0.03;
  transform-origin: center center;
  transform: rotate(12deg) scale(1.2, 1.2);
}

.site__background-shapes {
  opacity: 0.1;
}

.site__header {
  padding-bottom: 60px;
  font-size: 2.5em;
}

.site__header-name {
  font-weight: 900;
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

.site__header-whatido {
  font-weight: 700;
  font-size: 0.8em;
}

.site__footer {
  text-align: center;
  padding: 60px 0 0 0;
  font-weight: 500;
}

.site__footer-contact {
  display: none;
  /* display: flex; */
  justify-content: center;
  margin-bottom:  30px;
  font-size: 2em;
  font-weight: 900;
}

.site__footer-contact-item:not(:last-child) {
  /* margin-right: 30px; */
}

.experiments {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

/* (side-padding x 2) + grid-gap + (experiment-width x 2) */
@media only screen and (min-width: 820px) {
  .experiments {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* (side-padding x 2) + (grid-gap x 2) + (experiment-width x 3) */
@media only screen and (min-width: 1440px) {
  .experiments {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* (side-padding x 2) + (grid-gap x 3) + (experiment-width x 4) */
@media only screen and (min-width: 1910px) {
  .experiments {
    grid-template-columns: repeat(4, 1fr);
  }
}

.experiment {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  pointer-events: auto;
  transition: background 100ms ease-out;
  border: 10px solid black;
  padding: 30px 20px 20px 30px;
}

/* (side-padding x 2) + grid-gap + experiment-width */
@media only screen and (max-width: 500px) {
  .experiment {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.experiment__background {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: 10px;
  left: 10px;
  background: rgba(78, 227, 174, 0.85);
  z-index: -1;
}

.experiment__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.experiment__canvas {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 600ms ease-out;
}

.experiment__canvas svg {
  display: block;
  width: 100%;
}

.experiment--visible .experiment__canvas {
  opacity: 1;
}

.experiment__header {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 2em;
}

.experiment__header-link {
  word-spacing: 0.3em;
  text-decoration: none;
}

.experiment__description {
  line-height: 1.3em;
  margin-bottom: 15px;
}

.experiment__tags {
  display: block;
}

.experiment__tag {
  display: inline-block;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px 10px 6px;
  margin: 0 5px 5px 0;
  font-weight: 500;
  font-size: 11px;
  color: white;
  white-space: nowrap;
}

.experiment__tag--link {
  padding: 0;
  transition: background-color 100ms ease-out;
}

.experiment__tag--link a {
  display: inline-block;
  padding: 5px 6px 6px 10px;
  line-height: 1;
}

.experiment__tag--link:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.experiment__tag--link a::after {
  position: relative;
  top: 1px;
  display: inline-block;
  content: '';
  height: 0.8em;
  width: 0.8em;
  margin-left: 1px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-image: url("/assets/images/link-icon.svg");
  background-position: center;
}

.experiment__tag--chrome a {
  padding-left: 23px;
  background: url("/assets/images/chrome.png") 7px center/12px no-repeat;
  text-decoration: none;
}

.experiment__tag--source a {
  padding-left: 24px;
  background: url("/assets/images/github-icon.svg") 8px center/12px no-repeat;
  text-decoration: none;
}

.experiment__extra-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 15px;
  font-weight: 500;
  flex: 1;
  font-size: 0.8em;
}

.four-o-four {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  pointer-events: auto;
  border-radius: 3px;
}

.four-o-four__p {
  font-size: 20px;
  margin-bottom: 1em;
}

.four-o-four .site__content p a {
  text-decoration: none;
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #aaa;
}

.four-o-four__gif {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("/assets/images/404.gif");
  height: 270px;
  margin-bottom: 1em;
}