/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/* END RESET */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #090F2F;
    font-weight: 400;
    background: #090F2F;
}

a {
    color: inherit;
}

b {
    font-weight: 600;
}

del {
    opacity: 0.5;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 300ms ease-out;
    opacity: 0;
}

.background polygon {
    opacity: 0.3;
    transition: opacity 300ms ease-out;
}

.background polygon:hover,
.background polygon.visible {
    opacity: 1;
}

.site--ready .background {
    opacity: 1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: linear-gradient(rgba(9, 15, 47, 1), rgba(9, 15, 47, 0.9));
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    z-index: 1;
    font-weight: 400;
}

.header__name {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.header__name::before {
    display: inline-block;
    position: relative;
    top: 2px;
    content: '';
    height: 1em;
    width: 1em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/me_tiny.png");
}

.header__spacer {
    flex: 1;
}

.header__contact {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.header__contact::before {
    display: inline-block;
    position: relative;
    top: 2px;
    content: '';
    height: 1em;
    width: 1em;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__contact--email::before {
    top: 4px;
    background-image: url("/assets/images/email-icon.svg");
}

.header__contact--github::before {
    background-image: url("/assets/images/github-icon.svg");
}

.header__contact:not(:last-child) {
    margin-right: 0.5em;
}

@media only screen
and (max-width: 440px) {
    .header {
        font-size: 12px;
    }
}

.experiments {
    margin: 0 auto;
    max-width: 840px;
    padding: 80px 0 20px;
    pointer-events: none;
}

.experiment {
    position: relative;
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    background: rgba(241, 241, 241, 0.97);
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    pointer-events: auto;
    transition: background 100ms ease-out;
    border-radius: 3px;
}

.experiment:hover {
    background: rgba(241, 241, 241, 1);
}

.experiment__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 20px;
}

.experiment__canvas {
    opacity: 0;
    transition: opacity 600ms ease-out;
    width: 37.5%;
}

.experiment__canvas svg {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.experiment--visible .experiment__canvas {
    opacity: 1;
}

.experiment__header {
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.experiment__header-link {
    font-size: 50px;
    word-spacing: 0.3em;
    text-decoration: none;
    font-weight: 300;
}

.experiment__description {
    line-height: 1.3em;
    margin-bottom: 1em;
    font-size: 25px;
    font-weight: 300;
}

.experiment__tags {
    display: block;
}

.experiment__tag {
    display: inline-block;
    background: #090F2F;
    padding: 5px 10px 6px;
    margin: 0 5px 5px 0;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    white-space: nowrap;
}

.experiment__tag--link {
    padding: 0;
    transition: background-color 100ms ease-out;
}

.experiment__tag--link a {
    display: inline-block;
    padding: 5px 6px 6px 10px;
}

.experiment__tag--link:hover {
    background-color: rgba(9, 15, 47, 0.8);
}

.experiment__tag--link a::after {
    position: relative;
    top: 2px;
    display: inline-block;
    content: '';
    height: 0.8em;
    width: 0.8em;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("/assets/images/link-icon.svg");
    background-position: center;
}

.experiment__tag--chrome a {
    padding-left: 25px;
    background: url("/assets/images/chrome.png") 7px center/15px no-repeat;
    text-decoration: none;
}

.experiment__tag--source a {
    padding-left: 27px;
    background: url("/assets/images/github-icon.svg") 7px center/15px no-repeat;
    text-decoration: none;
}

.experiment__extra-info {
    margin-top: 1.5em;
    font-size: 13px;
    opacity: 0.5;
}

@media only screen
and (max-width: 640px) {
    .experiment__description {
        font-weight: 400;
    }

    .experiment__tag {
        font-weight: 400;
    }
}

@media only screen
and (max-width: 840px) {
    .experiment {
        border-radius: 0;
        background: rgba(241, 241, 241, 1);
        box-shadow: none;
    }

    .experiment__header-link {
        font-size: 5.9vw;
    }

    .experiment__description {
        font-size: 3.2vw;
    }

    .experiment__tag {
        font-size: 2.5vw;
    }
}

.content {
    position: relative;
    pointer-events: none;
}

.footer {
    color: white;
    font-size: 13px;
    text-align: center;
    opacity: 0.6;
    padding: 15px;
}

.four-o-four {
    text-align: center;
    background: rgba(241, 241, 241, 1);
    margin: 100px auto 0;
    padding: 20px;
    max-width: 500px;
    pointer-events: auto;
    border-radius: 3px;
}

.four-o-four__p {
    font-size: 20px;
    margin-bottom: 1em;
}

.four-o-four .content p a {
    text-decoration: none;
    font-size: 16px;
    color: #999;
    border-bottom: 1px solid #aaa;
}

.four-o-four__gif {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("/assets/images/404.gif");
    height: 270px;
    margin-bottom: 1em;
}