---
layout: default
name: blog
---

<section class="posts">
    {% capture iterations %}{{ site.posts | size | divided_by:2 | minus:1 }}{% endcapture %}
    {% for iteration in (0..iterations) %}
        {% capture offset %}{{ iteration | times:2 }}{% endcapture %}
        <ul>
        {% for post in site.posts limit:2 offset:offset %}
            <li>
                <h3><a href="{{ post.url }}">{{ post.title }} &rsaquo;</a></h3>
                <p class="post-date">{{ post.date | date:"%B %d, %Y" }}</p>
                <p class="content">
                    {{ post.content | strip_html | truncate: 275 }}
                    <a href="{{ post.url }}">(read more…)</a>
                </p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</section>
