div#sad-tag-cloud {
  text-align: justify;
  width: 750px;
  margin-bottom: 20px;
}
div#sad-tag-cloud a {
  text-decoration: none;
  padding: 2px 5px;
  margin: 2px 0px;
  cursor: pointer;
}
div#chart-wrapper {
  padding: 10px 0 20px;
  height: 200px;
  text-align: center;
}
p#something-controls { text-align: center; }
p#something-controls a {
  font-weight: bold;
  font-size: 120%;
  margin: 0 5px;
  padding: 5px 10px;
}
div#something-wrapper ul li {
  display: block;
  border: 1px solid #eeeeee;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 15px 25px 15px 15px;
  background-repeat: no-repeat;
  background-position: center left;
}
div#something-wrapper ul li.thought { background-image: url(/resources/exp_src/something_a_day/images/ThoughtIcon.jpg); }
div#something-wrapper ul li.achievement { background-image: url(/resources/exp_src/something_a_day/images/AchievementIcon.jpg); }
div#something-wrapper ul li.event { background-image: url(/resources/exp_src/something_a_day/images/EventIcon.jpg); }
div#something-wrapper ul li.activity { background-image: url(/resources/exp_src/something_a_day/images/ActivityIcon.jpg); }
div#something-wrapper span {
  display: block;
  width: 150px;
  text-align: center;
}
div#something-wrapper p {
  text-indent: 0;
  margin: 0 0 0 190px;
  padding: 0;
}
div#something-wrapper p.tags {
  padding: 5px 0;
  color: #bbbbbb;
}
