.experiments {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 0;
}

/* (side-padding x 2) + grid-gap + (experiment-width x 2) */
@media only screen and (min-width: 820px) {
  .experiments {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* (side-padding x 2) + (grid-gap x 2) + (experiment-width x 3) */
@media only screen and (min-width: 1440px) {
  .experiments {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* (side-padding x 2) + (grid-gap x 3) + (experiment-width x 4) */
@media only screen and (min-width: 1910px) {
  .experiments {
    grid-template-columns: repeat(4, 1fr);
  }
}
