@import 'reset-css/reset.css';

html {
  font-size: 62.5%;
}

.resume {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #263238;
  line-height: 1.6;

  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 2fr 1.2fr;
  grid-template-areas:
    "header header"
    "primary secondary";
  grid-gap: 3rem;
  max-width: 100rem;
  padding: 3rem;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

strong {
  font-weight: 600;
}

a,
a:visited {
  color: blue;
}

@media only screen and (width <= 50rem) {
  .resume {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "primary"
      "secondary";
  }
}

.resume__section-group--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: header;
}

.resume__section-group--primary {
  grid-area: primary;
}

.resume__section-group--secondary {
  grid-area: secondary;
}

.resume__section:not(:last-child) {
  margin-bottom: 2rem;
}

.resume__section-header {
  margin-bottom: 1rem;
}

.resume__work-entries {
  padding: 0;
  margin: 0;
}

.resume__work-entry-meta {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "work-title work-when"
    "work-where where-where";
  margin-bottom: 1rem;
}

.resume__work-entry-title {
  grid-area: work-title;
}

.resume__work-entry-when {
  text-align: right;
  grid-area: work-when;
  margin: 0;
}

.resume__work-entry-where {
  grid-area: work-where;
  margin: 0;
  line-height: 1;
}

.resume__work-entry:not(:last-child) {
  margin-bottom: 2rem;
}

.resume__education-entries {
  margin: 0;
  padding: 0;
}

.resume__rich-text p {
  margin: 0;
}

.resume__rich-text--indent-ps p {
  margin: 0 0 0 1rem;
  text-indent: -1rem;
}

.resume__rich-text p:not(:last-child),
.resume__rich-text ul:not(:last-child),
.resume__rich-text ol:not(:last-child) {
  margin-bottom: 1rem;
}

.resume__rich-text ul {
  list-style: circle;
  margin-left: 3rem;
}

.resume__rich-text li {
  margin-bottom: 0.4rem;
}

@media only print {
  html {
    font-size: 45%;
  }

  .resume {
    color: black;
  }

  a,
  a:visited {
    color: black;
    text-decoration: none;
  }
}
