.resume {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #263238;
  font-size: 0.9em;
  line-height: 1.5em;

  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 2fr 1.2fr;
  grid-template-areas:
    "header header"
    "primary secondary"
    "footer footer";
  grid-gap: 30px;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

@media only print {
  .resume {
    font-size: 12px;
  }

  .resume__web-only {
    display: none;
  }
}

.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h6 {
  font-family: 'Merriweather', serif;
  margin: 0;
}

.resume h1 {
  font-size: 2em;
  font-weight: 400;
}

.resume h2 {
  font-size: 1.3em;
  font-weight: 600;
}

.resume h3 {
  font-size: 1.5em;
}

.resume h4 {
  font-size: 1em;
  font-weight: 600;
}

.resume strong {
  font-weight: 600;
}

.resume ol,
.resume ul {
  list-style: none;

}

@media only screen and (max-width : 800px) {
  .resume {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "primary"
      "secondary"
      "footer";
  }
}

.resume__section-group--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: header;
}

.resume__section-group--primary {
  grid-area: primary;
}

.resume__section-group--secondary {
  grid-area: secondary;
}

.resume__section:not(:last-child) {
  margin-bottom: 20px;
}

.resume__footer {
  display: none;
  text-align: center;
  grid-area: footer;
}

@media only print {
  .resume__footer {
    display: block;
  }
}

.resume .resume__name {
  margin-bottom: 10px;
}

.resume .resume__section-header {
  margin-bottom: 10px;
}

.resume__work-entries {
  padding: 0;
  margin: 0;
}

.resume__work-entry-meta {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "work-title work-when"
    "work-where where-where";
  margin-bottom: 10px;
}

.resume__work-entry-title {
  grid-area: work-title;
}

.resume__work-entry-when {
  text-align: right;
  grid-area: work-when;
  margin: 0;
}

.resume__work-entry-where {
  grid-area: work-where;
  margin: 0;
}

.resume__work-entry:not(:last-child) {
  margin-bottom: 20px;
}

.resume__education-entries {
  margin: 0;
  padding: 0;
}

.resume__rich-text p {
  margin: 0;
}

.resume__rich-text p:not(:last-child),
.resume__rich-text ul:not(:last-child),
.resume__rich-text ol:not(:last-child) {
  margin-bottom: 10px;
}

.resume__rich-text ul {
  list-style: circle;
}
