:root {
  --std-padding: 30px;

  --background-color: #E8FFF4;
  --background-grid-stoke: color(#000 blend(var(--background-color) 96%));
  --background-shape-stoke: color(#000 blend(var(--background-color) 94%));

  --default-color: rgba(0, 0, 0, 0.9);

  --background-transition: background-color 250ms ease-out 100ms;

  --experiment-background-color-default: #CFD8DC;
  --site-background-color-default: color(var(--experiment-background-color-default) tint(50%));

  --experiment-background-color-1: #4DE3AE;
  --site-background-color-1: color(var(--experiment-background-color-1) tint(80%));

  --experiment-background-color-2: #4DD0E1;
  --site-background-color-2: color(var(--experiment-background-color-2) tint(80%));

  --experiment-background-color-3: #FFAB91;
  --site-background-color-3: color(var(--experiment-background-color-3) tint(80%));

  --experiment-background-color-4: #CE93D8;
  --site-background-color-4: color(var(--experiment-background-color-4) tint(85%));

  --experiment-background-color-5: #F8BBD0;
  --site-background-color-5: color(var(--experiment-background-color-5) tint(80%));
}

/**
 * Set up custom media queries based on the number of experiments that are
 * shown. Each experiment should have a minimum width of 440px. Unfortunately
 * you can't use custom properties in @custom-media declarations, so I've had
 * to do all the calculations by hand.
 */

/**
 * 1 small column: (std-padding x 2) + (min-experiment-width x 1)
 */
@custom-media --extra-small-viewport (width < 500px);

/**
 * 1 column: (std-padding x 2) + (min-experiment-width x 1)
 */
@custom-media --small-viewport (width < 820px);

/**
 * 2 columns: (std-padding x 3) + (min-experiment-width x 2)
 */
@custom-media --medium-viewport (width >= 820px);

/**
 * 4 columns: (std-padding x 4) + (min-experiment-width x 3)
 */
@custom-media --large-viewport (width >= 1440px);

/**
 * 5 columns: (std-padding x 5) + (min-experiment-width x 4)
 */
@custom-media --extra-large-viewport (width >= 1910px);
