{% capture gen_time %}{{ site.time | date: "%Y%m%d%H%M%S" }}{% endcapture %}
<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="Br-vdo-tI_IepKZayqb0UzGTgoz5otEAdD-MLQv_OYU" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />
    
    <title>{{ site.title }}</title>
    
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    
    {% for css in site.default_css %}
        <link rel="stylesheet" href="/resources/css/{{ css }}?{{ gen_time }}" type="text/css" />
    {% endfor %}
    
    {% for js in page.js %}
        <script src="/resources/{{ js }}?{{ gen_time }}" type="text/javascript" charset="utf-8"></script>
    {% endfor %}
    
</head>
<body>
    
    {% include analytics.html %}
    
    {% include warnings.html %}
    
    <header>
        <nav>
            <ul>
                {% for link in site.nav %}
                <li>
                    {% if link.url %}
                        <a href="{{ link.url }}" {% if page.name == link.name %}class="current"{% endif %}>{{ link.name }}</a>
                    {% else %}
                        {{ link.name }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    
    <section class="content">
        {{ content }}
    </section>
    
    <footer>
        <div>
            <h3>Generic Footer:</h3>
            <p>Feel free to contact me via <a class="twitter" target="_blank" href="http://twitter.com/ndrwhr">the twitter</a>, <a  class="facebook" target="_blank" href="http://facebook.com/ahoyer">the facebook</a>, <a class="github" target="_blank" href="http://github.com/ndrwhr">the github</a> or <a class="email" target="_blank" href="mailto:me@andrew-hoyer.com">the email</a>. I also have a handy <a class="feed" target="_blank" href="http://andrew-hoyer.com/atom.xml">rss feed</a> available for my blog.</p>
            <p>Lastly I would like to thank <a target="_blank" href="http://ryanteuscher.com/">Ryan Teuscher</a> for help in designing this site. He's a great designer and all around nice guy to boot.</p>
            <div class="clearfix"></div>
        </div>
    </footer>
    
</body>
</html>
