{% capture gen_time %}{{ site.time | date: "%Y%m%d%H%M%S" }}{% endcapture %}
<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="Br-vdo-tI_IepKZayqb0UzGTgoz5otEAdD-MLQv_OYU" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />
    
    <title>{{ site.title }}</title>
    
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    
    {% for css in site.default_css %}
        <link rel="stylesheet" href="/resources/css/{{ css }}?{{ gen_time }}" type="text/css" />
    {% endfor %}
    
    {% for js in page.js %}
        <script src="/resources/{{ js }}?{{ gen_time }}" type="text/javascript" charset="utf-8"></script>
    {% endfor %}
    
</head>
<body>
    
    {% include analytics.html %}
    
    {% include warnings.html %}
    
    <header>
        {% include nav.html %}
    </header>
    
    <section class="content">
        {{ content }}
    </section>
    
    <footer>
        
    </footer>
    
</body>
</html>
