---
layout: default
css:
    - css/blog.css
---

<div class="entry">
	
	<div class='month' style='margin: 0 0 10px 0;'>{{ page.date | date: "%B %d" }} <span>({{ page.date | date: "%Y" }})</span></div>
	
	<h1>{{ page.title }}</h1>
	
	<div class="entry-contents">
		{{ content }}
	</div>
	
	<div class="pagination">
		{% if page.previous %}
			<div class="prev">
				<a href="{{ page.previous.url }}">&laquo; {{ page.previous.title | truncatewords:5 }}</a><br/>
				<span>({{ page.previous.date | date: "%B %d, %Y" }})</span>
			</div>
		{% endif %}
		{% if page.next %}
			<div  class="next">
				<a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }} &raquo;</a><br/>
				<span>({{ page.next.date | date: "%B %d, %Y" }})</span>
			</div>
		{% endif %}
	</div>
</div>
