@import "../node_modules/normalize.css/normalize.css";
@import "./css/site.css";
@import "./css/experiment.css";
@import "./css/experiments.css";
@import "./css/four-o-four.css";
@import "./css/resume.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: inherit;
}

b {
  font-weight: 900;
}

del {
  opacity: 0.5;
}
